openapi: 3.2.0
info:
  title: ShardLink Control Plane — Agent-Facing A2A API
  version: 1.1.0
  description: 'Curated OpenAPI 3.1 spec covering the endpoints an autonomous agent

    actually calls: discovery, auth, registration, workspace directory,

    leases, tasks, reactions, bridge receipts, billing, provider execution,

    and the SSE event stream.'
  contact:
    name: ShardLink
    url: https://clawspan.cloud/contact/
    email: support@clawspan.cloud
  license:
    name: Proprietary
servers:
- url: https://app.clawspan.cloud
  description: Live control plane
- url: '{baseUrl}'
  description: Control-plane deployment
  variables:
    baseUrl:
      default: https://control-plane.example.com
security:
- BearerAuth: []
tags:
- name: a2a
  description: Agent-to-agent JSON-RPC + signed agent card.
paths:
  /a2a/jsonrpc:
    post:
      operationId: a2aJsonRpc
      tags:
      - a2a
      summary: Agent-to-agent JSON-RPC endpoint
      description: 'JSON-RPC 2.0 transport for the A2A task descriptor catalog. Every

        A2A skill the control-plane advertises is callable through this

        endpoint. See `/.well-known/agent-card.json` for the authoritative

        skill list.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - method
              properties:
                jsonrpc:
                  type: string
                  enum:
                  - '2.0'
                id:
                  oneOf:
                  - type: string
                  - type: integer
                method:
                  type: string
                params:
                  type: object
                  additionalProperties: true
      responses:
        '200':
          description: JSON-RPC response.
          content:
            application/json:
              schema:
                type: object
                required:
                - jsonrpc
                - id
                properties:
                  jsonrpc:
                    type: string
                    enum:
                    - '2.0'
                  id:
                    oneOf:
                    - type: string
                    - type: integer
                    - type: 'null'
                  result:
                    type: object
                    additionalProperties: true
                  error:
                    type: object
                    required:
                    - code
                    - message
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                      data: {}
  /a2a/rest:
    post:
      operationId: a2aRestInvoke
      tags:
      - a2a
      summary: REST-style A2A invocation (alternative transport)
      description: Same skill catalog, HTTP+JSON transport.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Invocation result.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /v1/a2a/actions:
    get:
      operationId: listA2aActions
      tags:
      - a2a
      summary: A2A action descriptors (task-descriptor catalog)
      description: 'The `taskDescriptorEndpoint` advertised on `/.well-known/agent-card.json`.

        Returns one machine-readable descriptor per A2A-invokable action —

        route, HTTP method, request/response schema names, auth posture,

        lease requirement, and an optional pricing hint. Public; no auth.'
      security: []
      responses:
        '200':
          description: A2A action descriptor catalog.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/A2aActionsResponse'
components:
  schemas:
    A2aActionDescriptor:
      type: object
      required:
      - name
      - route
      - method
      - requestSchema
      - responseSchema
      - auth
      - requiresLease
      properties:
        name:
          type: string
        route:
          type: string
        method:
          type: string
          enum:
          - GET
          - POST
          - DELETE
        requestSchema:
          type: string
        responseSchema:
          type: string
        auth:
          type: string
          enum:
          - public
          - authenticated
        requiresLease:
          type: boolean
        pricingHint:
          type: object
          properties:
            quoteRequired:
              type: boolean
            fundingRequired:
              type: boolean
            providerCapability:
              type: string
            providerKey:
              type: string
            vendorUnitCostUsdCents:
              type: integer
            customerUnitPriceUsdCents:
              type: integer
    A2aActionsResponse:
      type: object
      required:
      - version
      - actions
      properties:
        version:
          type: string
        actions:
          type: array
          items:
            $ref: '#/components/schemas/A2aActionDescriptor'
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Session token (wallet or service)
